name: Testing

on: [push, pull_request]

jobs:
  black:
    name: Black code style
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: psf/black@stable
  
  flake8:
    name: flake8 linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - name: Install flake8
        run: |
          pip install flake8 flake8-bugbear
      - name: Run flake8
        run: |
          flake8

  pytest:
    name: Python ${{ matrix.python-version }} - pytest
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["2.7", "3.7", "3.8", "3.9"]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v1
        with:
          mamba-version: "*"
          channels: conda-forge,defaults
          python-version: ${{ matrix.python-version }}
          environment-file: environment.yaml
      - name: Install
        shell: bash -l {0}
        run: |
          pip install .[testing]
      - name: Run pytest
        shell: bash -l {0}
        run: |
          pytest

  publish-pypi:
    runs-on: ubuntu-latest
    name: Publish package to PyPI
    needs: [black, flake8, pytest]
    steps:
      - uses: actions/checkout@v2
      - run: |
          git fetch --prune --unshallow
      - uses: actions/setup-python@v2
      - name: Build distributions
        run: |
          python setup.py sdist bdist_wheel --universal
      - name: Publish package
        if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
